body {
  font-family: Arial;
  background-color: lightgray;
  margin: 0;
}

header {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
}

h2 {
  color: blue;
}

.project-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.project-card img {
  width: 200px;
}